<%  title = t "help.title"
    provide(:title, title) 
%>
<h1><%= t "help.title" %></h1>
<p>
  <%= t "help.des_link_page" %>
  <%= link_to (t "help.title_link_page"), "https://www.railstutorial.org/help" %>.
  <%= t "help.des_link_book" %>
  <%= link_to (t "help.title_link_book") ,"https://www.railstutorial.org/book" %>.
</p>
