<h1><%= t "email.title_email_reset_password" %></h1>
<p><%= t "email.title_link_reset_password" %></p>
<%= link_to t("email.link_reset_password"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>
<p><%= t "email.time_expired_reset_password" %></p>
<p>
  <%= t "email.notification_reset_password" %>
</p>
